:root {
    --bgr-right: #454453;
    --bgr-left: #454453;
    --player-active: #539D6E;
    --score-board: #bf4130;
    --bgr-winner: #2F2F2F;
    --modal-1: #368453;
    --modal-2: #539D6E;
    --modal-border: #191717;
}      
